<zk xmlns:n="xhtml">
	
	   
	
	
	<vbox sclass="page-content">
	
			<div class="widget-main">
											
			      <div class="form-group">
			      <panel>
			  		 <panelchildren>
					<label  
						class="col-sm-3 control-label no-padding-right" 
						value=" SELECCION UN CARGO"/>
						<div class="col-sm-8">
						  <listbox height="20%" checkmark="false" id="" sclass="input-sm" mold="select"
									class="col-xs-4 col-sm-4">
							 <listitem label="JUNTA DIRECTIVA" />
							<listitem label="MIEMBRO" />
							<listitem label="SECRETARIA" />
					    	<listitem label="PRESIDENTE" />
					    	</listbox>
						</div>
						</panelchildren> </panel> 
				 </div> 
				 
			
			<!-- 	 
				 <combobox>
				 <comboitem label="ricardo"/>
				 <comboitem label="ruben"/>
				 <comboitem label="Luis"/>
				 <comboitem label="mario"/> 
				 <comboitem label="Lynn"/>
				 <comboitem label="mariliana"/>
				 </combobox>
				  -->
				 
				 
				 
				</div>
		  
		
		<columnlayout>
			<columnchildren width="50%" >
				<div class="panel panel-primary" >
					<panel collapsible="false"	sclass="transparent" >
						<caption label="Funciones del Sistema" class="block blue"  />
						 <panelchildren >
							<listbox sclass="task" id="left"
								multiple="true"  oddRowSclass="non-odd"
								checkmark="true" xmlns:ca="client/attribute"
								ca:data-scrollable="false"  height="650px">

								<listhead>
									<listheader label="Seleccione Todos"   class="lighter block red"/>

								</listhead>
								<listitem sclass="task-blue" >
									<listcell label="Tipo de Evento" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell label="Tipo de Area	" />
								</listitem>
								<listitem sclass="task-blue" >
									<listcell label="Tipo de Difucion" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell
										label="Tipo de Incidencia" />
								</listitem>
							<listitem sclass="task-blue" > 
									<listcell label=" Tipo de Sancion" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell label="Tipo Noticia" />
								</listitem>

								<listitem sclass="task-blue" > 
									<listcell label="Tipo Cargo" />
								</listitem>

							<listitem sclass="task-blue" > 
									<listcell label="Tipo Miembro" />
								</listitem>

								<listitem sclass="task-blue" > 
									<listcell label="Tipo Opinion" />
								</listitem>

								<listitem sclass="task-blue" > 
									<listcell label="Asignar Accion" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell label="Atender Solicitud" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell
										label="Incidencia de la Visita" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell label=" Solvencias" />
								</listitem>
								<listitem sclass="task-blue" > 
									<listcell label="Apelaciones" />
								</listitem>
							
							</listbox>




						</panelchildren>
					</panel>
				</div>
			</columnchildren>

			<columnchildren width="61px">
				<separator spacing="450%" />
				<panel>
					<panelchildren>
						<a sclass=" btn btn-primary btn-lg"
							iconSclass="  glyphicon glyphicon-forward"
							tooltiptext="Asignar Funciones">
							<attribute name="onClick">
						Set items = left.getSelectedItems();
						if (items.isEmpty()) {
							alert("Por favor, Seleccione Una funcion del Sistema!");
						} else {
							List al = new ArrayList(items);
							for (Iterator it = al.iterator(); it.hasNext();) {
								Listitem li = (Listitem) it.next();
								li.setSelected(false);
								right.appendChild(li);
							}
						}
					</attribute>
					</a>
					<separator spacing="50%" />
					<a sclass=" btn btn-primary btn-lg"
						iconSclass=" glyphicon glyphicon-backward"
						tooltiptext="Eliminar Funciones">
					<attribute name="onClick">
						Set items = right.getSelectedItems();
						if (items.isEmpty()) {
							alert("Por favor, Seleccione una funcion que Desee remover!");
						} else {
							List al = new ArrayList(items);
							for (Iterator it = al.iterator(); it.hasNext();) {
								Listitem li = (Listitem) it.next();
								li.setSelected(false);
								left.appendChild(li);
							}
						}
					</attribute>
						</a>
					</panelchildren>
				</panel>
			</columnchildren>


			<columnchildren width="50%">
				<div class="panel panel-primary" >
					<panel collapsible="false"	sclass="transparent" >
						<caption label="Funciones del Cargo" class="block blue"  />
						 <panelchildren >
							<listbox sclass="task" id="right"
								multiple="true"  oddRowSclass="non-odd"
								checkmark="true" xmlns:ca="client/attribute"
								ca:data-scrollable="false"  height="650px">
							<listhead>
								<listheader label="Seleccione Todo" />

							</listhead>
							<listitem sclass="task-blue" > 
								<listcell label="Atender Solicitud" />
							</listitem>
							<listitem sclass="task-blue" > 
								<listcell label="Asignar Accion	" />
							</listitem>
							<listitem sclass="task-blue" > 
								<listcell label="Solvencias" />
							</listitem>
							<listitem sclass="task-blue" > 
								<listcell
									label="Incidencia de la Visita" />
							</listitem>
							<listitem sclass="task-blue" > 
								<listcell label=" Registrar Solicitud" />
							</listitem>

							<listitem sclass="task-blue" > 
								<listcell
									label="Evaluar  la Solicitud " />
							</listitem>

							<listitem sclass="task-blue" > 
								<listcell label=" Registrar Evento" />
							</listitem>







						</listbox>
					</panelchildren>
				</panel>
				</div>
			</columnchildren>
		</columnlayout>
		</vbox>
	
</zk>