<zk xmlns:n="native">


	<div class="widget-body">
		<div class="widget-main">
			<!-- PAGE CONTENT BEGINS -->
			<div >
				<div >
					<div>
						<div>

							<div>
								<div>
									<n:h3 class="lighter block blue">
										Registrar Resultado
									</n:h3>

									<n:hr></n:hr>

									
									<div class="form-horizontal">
										<div class="form-group">
											<n:label for="lboxRole"
												class="col-sm-3 control-label no-padding-right">
												Evento
											</n:label>
											<div class="col-sm-8">
												<listbox
													checkmark="false" id="" sclass="input-sm" mold="select"
													class="col-xs-3 col-sm-3">
													<listitem
														label="Evento1" />
													<listitem
														label="Evento2" />
													<listitem
														label="Evento3" />
												</listbox>
											</div>

										</div>
									
										<div class="form-group">
											<n:label for="lboxRole"
												class="col-sm-3 control-label no-padding-right">
												Indicador
											</n:label>
											<div class="col-sm-8">
												<listbox
													checkmark="false" id="" sclass="input-sm" mold="select"
													class="col-xs-3 col-sm-3">
													<listitem
														label="Indicador1" />
													<listitem
														label="Indicador2" />
													<listitem
														label="Indicador3" />
												</listbox>
											</div>

										</div>

										

										<div class="form-group">
											<n:label for="lboxRole"
												class="col-sm-3 control-label no-padding-right">
												Valor:
											</n:label>
											<div class="col-sm-8">
												<textbox type="text"
													id="" class="col-xs-3 col-sm-3" />
											</div>
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="clearfix form-actions">
				<div class="col-md-9">
					<button id="agregarBtn" tooltiptext="Registrar"
						class="btn btn-info btn-md" iconSclass="glyphicon glyphicon-ok-circle"
						type="button">

					</button>
					<button id="limpiarBtn" tooltiptext="Limpiar"
						class="btn btn-danger btn-md" iconSclass="z-icon-eraser	"
						type="button">

					</button>

					<button id="closeBtn" tooltiptext="Salir"
						class="	btn btn-warning btn-md" iconSclass="z-icon-sign-out	"
						type="button">

					</button>
				</div>
			</div>
			</div>
		</div><!-- /.col -->
	</div><!-- /.row -->



	<style>
		.z-datebox-input { // simlar to bootstrap's form-control class
		display: table-cell; width: 100%; margin-bottom: 0; height:
		34px; padding: 6px 12px; font-size: 14px; line-height:
		1.428571429; color: #555; vertical-align: middle;
		background-color: #fff; border: 1px solid #ccc; border-radius:
		4px; box-shadow: inset 0 1px 1px rgba(0,0,0,0.075); transition:
		border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		border-top-right-radius: 0; border-bottom-right-radius: 0; }
		.z-datebox-button { // simlar to bootstrap's input-group-addon
		class padding: 6px 12px; font-size: 14px; font-weight: normal;
		line-height: 1; text-align: center; background-color: #eee;
		border: 1px solid #ccc; border-radius: 4px; width: 1%;
		white-space: nowrap; vertical-align: middle; display:
		table-cell; border-bottom-left-radius: 0;
		border-top-left-radius: 0; border-left: 0; }
	</style>


</zk>
