<zk>
    <zscript><![CDATA[
    List products = new ArrayList();
    for (int i = 1; i <= 5; i++) {
        products.add("Indicador " + i);
    }   
]]></zscript>
<hbox>
				<separator spacing="50px" />
				<label value="Evento" class="boxlabel" />
				<combobox id="cmbEvento">
	                    <template name="model">
	                        <comboitem label="Dia del padre"></comboitem>
	                        <comboitem label="Dia del padre"></comboitem>
	                        <comboitem label="Dia del padre"></comboitem>
	                    </template>
	                </combobox>
			</hbox>
		 <listbox id="listbox" width="100%" nonselectableTags="" checkmark="true" multiple="true">

        <listhead>
            <listheader label="Seleccionar" width="100px" />
            <listheader label="Indicador" width="180px"/>
            <listheader label="Cantidad esperada" />
            <listheader label="Confirmar" width="80px"/>
        </listhead>
        <zk forEach="${products}">
            <listitem>
                <listcell label="${each}"></listcell>
                <listcell>
                    <listbox mold="select" hflex="1" >
                        <listitem label="Buena atencion" />
                        <listitem label="Cantidad de dinero a recaudar" />
                        <listitem label="Cantidad de personas" selected="true"/>
                        <listitem label="Good" />
                        <listitem label="Poor" />
                    </listbox>
                </listcell>
                <listcell>
                    <textbox rows="2" hflex="1" />
                </listcell>
                <listcell>
                    <button label="confirmar" class="btn btn-info btn-md" hflex="1">
                        <attribute name="onClick"><![CDATA[
                            self.setDisabled(true);
                        ]]></attribute>
                    </button>
                </listcell>
                 
            </listitem>
        </zk>
    </listbox>
    <separator spacing="50px" />
	<div class="col-md-9" align="center">
									<button id="agregarBtn"
										tooltiptext="Registrar" class="btn btn-info btn-md"
										iconSclass="glyphicon glyphicon-check" type="button">

									</button>
									<button id="limpiarBtn"
										tooltiptext="Limpiar" class="btn btn-danger btn-md"
										iconSclass="z-icon-eraser	" type="button">

									</button>
									<button id="closeBtn"
										tooltiptext="Salir" class="	btn btn-warning btn-md"
										iconSclass="z-icon-sign-out	" type="button">

									</button>
								</div>
		
	
</zk>
