<zk xmlns:n="xhtml">
 	   
<panel sclass="page-content"  border="none" collapsible="false" >
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.FilterViewModelTipoCargo')">



			<div align="center">
				<n:a  style="margin-left:21.5%" class="btn btn-primary btn-sm" tooltiptext="Imprimir">


					<n:i class="ace-icon fa fa-print "
						onclick="window.print();" type="button" tooltiptext="Imprimir">
					</n:i>

				</n:a>
			</div>





			<grid  sclass="domain" model="@load(vm.cargoModel)"
				mold="paging" pageSize="10" width="600px">
				<columns>
				<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.cargoFilter.codigo)"
							onChange="@command('changeFilter')" placeholder="Codigo" />
					</column>
					<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.cargoFilter.tipo)"
							onChange="@command('changeFilter')" placeholder="Tipo" />
					</column>
					
					
					
					<column apply="controlador.ControladorDialogoModal" align="center" width="10%">
						<button id="registrarcargos" tooltiptext="Nuevo"
							class="btn btn-primary btn-sm" iconSclass="z-icon-plus"
							type="reset">
						</button>
					</column> 	
					
					
					
					 	
				</columns>
				<template name="model">
					<row>
						<label value="@load(each.codigo)" />
						<label value="@load(each.tipo)" />
						<button  iconSclass="z-icon-edit" class="btn btn-warning btn-sm" tooltiptext="Editar" />
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>

</zk>