<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
<panel border="none" collapsible="false" sclass="transparent">
		<panelchildren apply="org.zkoss.bind.BindComposer"
			viewModel="@id('vm') @init('vistaModelo.ApelacionViewModel')">
			<grid  sclass="domain" model="@load(vm.apelacionModel)"
				mold="paging" pageSize="10">
				<columns>
				<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.apelacionsFilter.codigo)"
							onChange="@command('changeFilter')" placeholder="Código" />
					</column>
					<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.apelacionsFilter.miembro)"
							onChange="@command('changeFilter')" placeholder="Miembro" />
					</column>
					<column iconSclass="z-icon-filter blue" >
						<textbox instant="true" width="200px"
							value="@bind(vm.apelacionsFilter.descripcion)"
							onChange="@command('changeFilter')" placeholder="Descripción" />
					</column>
					<column>Fecha
					</column>
					<column apply="controlador.ControladorModalAbrir" align="center" width="10%">
					</column> 	 	
				</columns>
				<template name="model">
					<row>
						<label value="@load(each.codigo)" />
						<label value="@load(each.persona)" />
						<label value="@load(each.descripcion)" />
						<label value="@load(each.fecha)" />
						<button iconSclass="glyphicon glyphicon-zoom-in" class="btn btn-warning btn-sm" tooltiptext="Ver" 
						onClick="@command('changeEditable', apelaciones=each)"/>
					</row>
				</template>
				<foot>
					<footer span="6" class="footer_right"
						label="@load(vm.footer)" />
				</foot>
			</grid>
		</panelchildren>
	</panel>

</zk>