<zk xmlns:n="native">
	<window id="modalDialog" border="normal" width="490px"
		apply="controlador.ControladorModalCerrar" position="center,center"
		closable="true" action="show: slideDown;hide: slideUp">
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<n:h3 class="lighter block green">
								Registrar Tipo Indicador
							</n:h3>

							<n:hr></n:hr>

							<div class="form-horizontal">
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Codigo
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id=""
											class="col-xs-4 col-sm-4" disabled="true" />
									</div>
								</div>
								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Nombre
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" id=""
											class="col-xs-6 col-sm-6" />
									</div>
								</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Descripcion
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5"
											id="" class="col-xs-8 col-sm-8" />
									</div>
								</div>

								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9">
				<button id="agregarBtn" tooltiptext="Registrar"
					class="btn btn-info btn-md" iconSclass="glyphicon glyphicon-check"
					type="button">

				</button>
				<button id="limpiarBtn" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	"
					type="button">

				</button>

				<button id="closeBtn" tooltiptext="Salir"
					class="	btn btn-warning btn-md" iconSclass="z-icon-sign-out	"
					type="button">

				</button>
			</div>
		</div>
	</window>
</zk>