<zk xmlns:n="native">
	<window id="modalDialog" border="normal" width="490px"
		apply="controlador.ControladorModalCerrar" position="center,center"
		closable="true" action="show: slideDown;hide: slideUp">
		<div apply="org.zkoss.bind.BindComposer">
		<div class="widget-body">
			<div class="widget-main">
				<div>
					<div>
						<div>
							<n:h3 class="lighter block green">
								Añadir Imagen
							</n:h3>

							<n:hr></n:hr>

							<div class="form-horizontal">
								<div class="form-group">
											<n:label for="txtSubir"
												class="col-sm-3 control-label no-padding-right">
												Imagen
											</n:label>
											<div class="input">
												<div class="	col-sm-1">
													<button id=""
														class="btn btn-succes btn-md"
														upload="true,maxsize=3000,native"
														tooltiptext="Seleccione..." iconSclass="z-icon-upload">
													</button>
													
												</div>
											</div>
										</div>

								<div class="form-group">
									<n:label
										class="col-sm-3 control-label no-padding-right">
										Descripcion
									</n:label>

									<div class="col-sm-9">
										<textbox type="text" rows="5"
											id="" class="col-xs-8 col-sm-8" />
									</div>
								</div>

								<div class="space-4"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix form-actions">
			<div class="col-md-9">
				<button id="agregarBtn" tooltiptext="Registrar"
					class="btn btn-info btn-md" iconSclass="glyphicon glyphicon-check"
					type="button">

				</button>
				<button id="limpiarBtn" tooltiptext="Limpiar"
					class="btn btn-danger btn-md" iconSclass="z-icon-eraser	"
					type="button">

				</button>

				<button id="closeBtn" tooltiptext="Salir"
					class="	btn btn-warning btn-md" iconSclass="z-icon-sign-out	"
					type="button">

				</button>
			</div>
		</div>
		</div>
	</window>
</zk>