<?page title="Nosotros" contentType="text/html;charset=UTF-8"?>
<?link rel="stylesheet" type="text/css"	href="/bootstrap/v3/bootstrap/css/paper.css" ?>
<?link rel="stylesheet" type="text/css"	href="/bootstrap/v3/bootstrap/css/style.css" ?>
<?link href="../css/fonts.css" rel="stylesheet" type="text/css"?>
<?script src="/bootstrap/v3/assets/js/html5shiv.js" if="${zk.ie < 9}" ?>
<?script src="/bootstrap/v3/assets/js/respond.min.js" if="${zk.ie < 9}"?>

<?link href="less/index.css.dsp" rel="stylesheet" type="text/css"?>
<zk xmlns:n="native">
	<n:center>
		<n:h3>Reseña Historia</n:h3>

		<n:p>
			EL HOGAR CANARIO LARENSE, se fundó el 19 de Abril de 1975,
			como una Asociación Civil
			<n:br></n:br>
			sin fines de lucro, con el objetivo general de crear,
			organizar actividades sociales, culturales,
			<n:br></n:br>
			religiosas y deportivas, mantener centros de esparcimiento
			para sus Asociados, que
			<n:br></n:br>
			les permitan practicar, desarrollar y divulgar los valores
			“Autóctonos” canarios y venezolanos
		</n:p>


	</n:center>

	<div>
		<div class="row">
			<div class="col-md-6">

				<n:h3>Vision</n:h3>
				<n:p>
					Llegar a consolidarse como una de las instituciones
					de mayor prestigio de la región Centroccidental, en
					lo deportivo, social y cultural, mediante la
					creación de un ambiente que propicie comodidad en
					infraestructura y alta calidad de servicio para
					todos sus miembros y visitantes, donde puedan
					conformar una gran familia encontrando en su sede
					amistad, respeto, entretenimiento y seguridad,
					manteniendo así el calor de la fraternidad, de igual
					forma promover y dar a conocer las costumbres
					canarias y venezolanas.
				</n:p>



			</div>

			<div class="col-md-6">

				<n:h3>Mision</n:h3>

				<n:p>
					Brindar ambientes y entornos adecuados para
					encuentros entre miembros, familiares y amigos donde
					el calor de la fraternidad se mantenga viva, al
					igual que las tradiciones culturales y deportivas
					tanto de las Islas Canarias como de Venezuela; y a
					través de una gestión administrativa transparente y
					eficiente, cumplir con el servicio a nuestros
					miembros y visitantes como el mayor de nuestros
					valores.

				</n:p>



			</div>


		</div>
	</div>

	<div align="center">
		<vbox align="center">
			<n:h3>organigrama</n:h3>
			<div class="vlightbox-cont bloc-img">
				<image src="../assets/images/organigrama.jpg" width="240px"
					height="240px" class="vlightbox1">
				</image>
			</div>
		</vbox>
	</div>
</zk>