<zk>
<panel border="normal" sclass="conversation">
	<caption iconSclass="z-icon-rss orange" label="Opinion" />
	<panelchildren>
		<vlayout>
			<grid sclass="dialog">
				<columns>
					<column width="48px" />
					<column />
				</columns>
				<rows>

					<row>
						<div sclass="user">
							<image tooltiptext="Bob's Avatar"
								src="../assets/images/user.png" />
						</div>
						<div sclass="body">
							<a label="10 días"
								iconSclass="z-icon-clock-o" sclass="time orange" />
							<span sclass="name">
								<a label="Club Canario Larense"
									href="#" />
							</span>
							<label sclass="text">
								El miercoles 29 de mayo del 2015 se
								publicara las solicitudes para membresia
								al club.
							</label>
						</div>
					</row>
					<row>
						<div sclass="user">
							<image tooltiptext="Jim's Avatar"
								src="../assets/images/user.png" />
						</div>
						<div sclass="body">
							<a label="18 días"
								iconSclass="z-icon-clock-o" sclass="time grey" />
							<a label="Club Canario Larense" href="#"
								sclass="name" />
							<label sclass="text">
								El viernes 29 de mayo se hara publico la
								lista de miembros sancionados.
							</label>
						</div>
					</row>
					<row>
						<div sclass="user">
							<image tooltiptext="Alexa's Avatar"
								src="../assets/images/user.png" />
						</div>
						<div sclass="body">
							<a label="26 días"
								iconSclass="z-icon-clock-o" sclass="time green" />
							<a label="Club Canario Larense" href="#"
								sclass="name" />
							<label sclass="text">
								Este proximo 18 de junio celebremos el
								día del padre en tu club, pantalla plana
								para ver la Copa America y a nuestra
								selección la vinotinto
							</label>
						</div>
					</row>
				</rows>
			</grid>
			<hlayout sclass="action" hflex="1">
				<textbox placeholder="Type your message here ..."
					hflex="1" />
				<span hflex="min">
					<button label="Send"
						iconSclass="z-icon-mail-forward" sclass="btn btn-sm btn-info" />
				</span>
			</hlayout>
		</vlayout>
	</panelchildren>
</panel>
<div class="space-24"></div>

</zk>



<!--  <div class="col-xs-12 col-sm-9">
	<div class="input-group">
	<span class="input-group-addon">
	<n:i class="ace-icon fa fa-phone"></n:i>
	</span>
	
	<textbox type="tel" id="phone" name="phone" />
	</div>
	</div> -->