<?page title="Dashboard - ZK Admin"?>
<!-- Load Bootstrap  -->
<?link href="../bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"?>

<!-- Google Open Sans font -->
<!-- Load fonts from local -->
<?link href="../css/fonts.css" rel="stylesheet" type="text/css"?>

<!-- Unmark if we want to use fonts from google server
<?link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'?>
-->

<?link href="../less/index.css.dsp" rel="stylesheet" type="text/css"?>

<?link href="../less/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link rel="stylesheet" href="../assets/font-awesome/4.2.0/css/font-awesome.min.css" ?>
<?link rel="stylesheet" href="../assets/fonts/fonts.googleapis.com.css" ?>
<?link rel="stylesheet" href="../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" ?>
<?link rel="stylesheet" href="../assets/css/ace-part2.min.css" class="ace-main-stylesheet" ?>
<?link rel="stylesheet" href="../assets/css/ace-ie.min.css" ?>
<?script src="../assets/js/ace-extra.min.js"></script?>

<zk xmlns:n="native">
	<include src="../navbar.zul"/>             
	<hlayout id="main" spacing="0">
		<include src="../sidebar.zul"/>    
		<vlayout spacing="0" hflex="1">
			<include src="../breadcrumbs.zul"/>
			<vlayout sclass="page-content" xmlns:n="native" spacing="0">
  				<hlayout spacing="24px">
    				<include src="../content/formAsignarGrupos.zul" hflex="5"/>
  				</hlayout>
			</vlayout>
		</vlayout>
	</hlayout>

	<!-- Include the jQuery plugins to draw the chart -->
	<script src="../js/excanvas.min.js" if="${zk.ie lt 9}"/>
	<script src="../js/jquery.easy-pie-chart.min.js"></script>
	<script src="../js/jquery.flot.min.js"/>
	<script src="../js/jquery.flot.pie.js"/>
	<script src="../js/jquery.sparkline.min.js"></script>
</zk>