<?link href="../css/fonts.css" rel="stylesheet" type="text/css"?>
<?link href="../less/index.css.dsp" rel="stylesheet" type="text/css"?>
<?link rel="stylesheet" href="../assets/font-awesome/4.2.0/css/font-awesome.min.css" ?>
<?link rel="stylesheet" href="../assets/fonts/fonts.googleapis.com.css" ?>
<?link rel="stylesheet" href="../assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" ?>
<?link rel="stylesheet" href="../assets/css/ace-part2.min.css" class="ace-main-stylesheet" ?>
<?link rel="stylesheet" href="../assets/css/ace-ie.min.css" ?>
<?script src="../assets/js/ace-extra.min.js"></script?>
<zk xmlns:n="native">
	<include src="../navbarPortal.zul" />

	<separator bar="true" />
	<div align="center">
		 <include src="../content/estatusSolicitudAccion.zul" /> 
	</div>
	<separator bar="true" />
	<hlayout spacing="24px">
		<include src="../footer.zul" hflex="7" style="position: relative;" />
	</hlayout>

</zk>